[build]
  publish = "netlify-redirect"

[[redirects]]
  from = "/app/*"
  to = "/app/index.html"
  status = 200

[[redirects]]
  from = "/match/*"
  to = "/match.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200